@use "global" as *;



.c-breadcrumbs_inner{
    color: $white;
    font-size: rem(16);
    letter-spacing: 0.0625em;
    line-height: 1.1875;
    padding-top: rem(15);
    padding-bottom: rem(15);

    @include mq("md"){
    }
}

// .c-breadcrumbs_inner span:not(:first-child)::before{
//     content: ">";
// }
