@use "global" as *;
@use "sass:math";

$bg-position:50%;       // 基準表示位置
$bg-line-height:1px;    // 線の太さ
$bg-line-adjust:0.1%;  // 線 ギザギザになってしまう対策用

$linear-para1:calc($bg-position - $bg-line-adjust);
$linear-para2:$bg-position;
$linear-para3:calc($bg-position + $bg-line-height);
$linear-para4:calc($bg-position + $bg-line-height + $bg-line-adjust);

.bg-line{
    position: relative;
}

.bg-line__topleft-to-bottomright,
.bg-line__bottomleft-to-topright{
    position: absolute;
    z-index: -100;
    width: 100%;
}

.bg-line__topleft-to-bottomright{
    height: rem(678);
    top: rem(120);
    background-image: linear-gradient(to right top, transparent $linear-para1, #F9F871 $linear-para2, #F9F871 $linear-para3, transparent $linear-para4);

    @include mq("md"){
        height: rem(1280);
        top: rem(87);
    }
}

.bg-line__bottomleft-to-topright{
    height: rem(1343);
    top: rem(296);
    background-image: linear-gradient(to right bottom, transparent $linear-para1, #F9F871 $linear-para2, #F9F871 $linear-para3, transparent $linear-para4);

    @include mq("md"){
        height: rem(1280);
        top: rem(758);
    }
}