@use "global" as *;

.contact__inner {
    background: $gray;
    width: 100%;
    padding-top: rem(31);
    padding-bottom: rem(64);
    padding-right: $padding-sp;
    padding-left: $padding-sp;
    margin-right: auto;
    margin-left: auto;

    @include mq("md") {
        padding-top: rem(81);
        padding-bottom: rem(149);
        padding-right: $padding-pc;
        padding-left: $padding-pc;
    }
}

.contact__title {
    max-width: rem(1100);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.contact__title__ja-title {
    margin-top: rem(-9);

    @include mq("md") {
        margin-top: rem(-40);
    }
}

.contact__title__en-title {
    @include mq("md") {
        text-align: left;
        letter-spacing: 0.025em;
    }
}

.contact__main {
    display: flex;
    justify-content: center;
    margin-top: rem(20);

    @include mq("md") {
        margin-top: rem(24);
    }
}

.contact__text {
    color: $white;
    font-size: rem(16);
    font-weight: $regular;
    line-height: 1.4375;
    text-align: left;
    letter-spacing: 0.125em;
    margin-top: rem(4);

    @include mq("md") {
        margin-top: rem(2);
    }
}

.contact__button {
    margin-top: rem(47);
    text-align: center;

    @include mq("md") {
        margin-top: rem(61);
    }
}

.contact__button .button {
    // font-size: rem(20);
    // padding: rem(19) 0;
    // letter-spacing: 0.1em;
    // @include mq("md"){
    //     font-weight: $regular;
    // }
}       