@use "global" as *;

.footer-nav {
    color: $white;
    font-size: rem(16);
    letter-spacing: rem(1.2);
    font-weight: $regular;
}

.footer-nav__list {
    height: inherit;
}


.footer-nav__list a {
    height: inherit;
    display: flex;
    align-items: center;
    width: 100%;
    transition: all .4s;
}

.footer-nav__list a span {
    @include mq("md") {
        line-height: 2.1875;
        border-bottom: 1px solid transparent;
        transition: all .2s;
    }
    @include mq("md"){
        letter-spacing: 0.125em;
    }
}

/*** hover時処理 ***/
.footer-nav__list a:hover span {
    @include mq("md") {
        border-bottom: 1px solid #FFEA2E;
    }
}
/*** hover時処理 end ***/