@use "global" as *;
@use "sass:math";


.page-main-view {
    position: relative;
}

.page-main-view__main {
    position: absolute;
    z-index: $main-view__main_z-index; //swiperがzーindex１
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.page-main-view__title {
    text-align: center;
    color: $white;
    font-size: rem(30);
    font-weight: $bold;
    line-height: 1;
    letter-spacing: 0.066666em;

    @include mq("md") {
        font-size: rem(35);
        letter-spacing: 0.057143em;
    }
}

.page-main-view__image {
    position: relative;
}

.page-main-view__image::before {
    content: "";
    display: block;
    padding-top: calc(math.div(425, 375) * 100%); // math.div(縦,横)

    @include mq("md") {
        padding-top: min(100vh, calc(math.div(370, 1280) * 100%)); // math.div(縦,横)
    }
}

// ブログ一覧ページ
.page-main-view__blog-image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/blog/page-blog-sp.jpg);

    @include mq("md") {
        background-image: url(../images/blog/page-blog-pc.jpg);
    }
}