@use "global" as *;
@use "sass:math";

.top-card{
    @include mq("md"){
        padding: 0 rem(25);
    }
}

.top-card__inner {
    @include mq("md") {
        max-width: rem(1280);
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: rem(32);
        padding: rem(81) 0 rem(80);
    }
}


.top-card--forward {
    background: $gray;

    @include mq("md") {
        $bg-per: calc(30%);
        background: linear-gradient(90deg, transparent $bg-per, $gray $bg-per);
    }
    @include mq("pc") {
        $bg-per: calc(50% - rem(255));
        background: linear-gradient(90deg, transparent $bg-per, $gray $bg-per);
    }
}

.top-card--reverse {
    $bg-per: 30%;

    @include mq("md") {
        background: linear-gradient(-90deg, transparent $bg-per, $gray $bg-per);
    }
    @include mq("pc") {
        $bg-per: calc(50% - rem(255));
        background: linear-gradient(-90deg, transparent $bg-per, $gray $bg-per);
    }
}
.top-card--reverse .top-card__inner{
    @include mq("md") {
        flex-direction: row-reverse;
    }
}

.top-card__images {
    position: relative;

    @include mq("md") {
        max-width: rem(557);
        width: 100%;
    }
}

.top-card__image {
    position: relative;
}

.top-card__image::before {
    content: "";
    display: block;
    padding-top: calc(math.div(261, 375) * 100%); // math.div(縦,横)

    @include mq("md") {
        padding-top: calc(math.div(389, 557) * 100%); // math.div(縦,横)
    }
}

.top-card__image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.top-card__main {
    padding: rem(24) rem(20) rem(21);

    text-align: center;

    @include mq("md") {
        text-align: left;
        padding: 0 0 0;
        max-width: rem(510);
        width: 100%;
        margin-top: rem(-7);
    }
}

.top-card__title {
    color: $white;
    font-size: rem(20);
    font-weight: $regular;
    letter-spacing: 0.1em;
    line-height: 1.45;

    @include mq("md") {
        font-size: rem(25);
        letter-spacing: 0.02em;
    }
}

.top-card__text {
    margin-top: rem(24);
    font-size: rem(16);
    font-weight: $regular;
    letter-spacing: 0.125em;
    line-height: 1.4375;
    color: $white;
    text-align: left;

    @include mq("md") {
        margin-top: rem(37);
        letter-spacing: 0.03125em;
        line-height: 2.1875;
    }
}

.top-card__button {
    margin-top: rem(27);

    @include mq("md") {
        margin-top: rem(49);
    }
}