@use "global" as *;
@use "sass:math";

.p-work-intro {
    color: $white;

    @include mq("md") {
        padding: 0 $padding-pc;
    }

}

.p-work-intro__inner {
    @include mq("md") {

        max-width: rem(799);
        width: 100%;
        margin: 0 auto;
    }
}

.p-work-intro__company,
.p-work-intro__info,
.p-work-intro__text {
    padding: 0 $padding-sp;

    @include mq("md") {
        padding: 0 $padding-pc;
    }
}


.p-work-intro__company {
    padding: 0 $padding-sp;
    font-size: rem(20);
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.p-work-intro__info {
    margin-top: rem(16);

    @include mq("md") {
        margin-top: rem(32);

    }
}

.p-work-intro__main {
    margin-top: rem(54);
    display: flex;
    flex-direction: column;
    gap: rem(54);

    @include mq("md") {
        margin-top: rem(103);
        gap: rem(71);
    }
}

.p-work-intro__box {
    position: relative;
    width: 100%;
    padding: rem(56) rem(10) rem(33);
    border: 1px solid $white;

}

.p-work-intro__text-title {
    position: absolute;
    display: inline-block;
    padding: rem(1) rem(24);
    font-weight: $regular;
    font-size: rem(20);
    letter-spacing: 0.02em;
    background-color: $black;
    top: 0;
    transform: translateY(-50%);
    border: 1px solid $white;
    border-radius: rem(32);
}

.p-work-intro__text {
    font-size: rem(16);
    line-height: 2.1875;
    letter-spacing: 0.025em;
    font-weight: $regular;
}

.p-works-intro__thumb{
    margin-top: rem(20);
}


.p-works-intro__image,
.p-works-intro__thumbs-image {
    position: relative;
}

.p-works-intro__image::before,
.p-works-intro__thumbs-image::before {
    content: "";
    display: block;
}

.p-works-intro__image::before {
    padding-top: calc(math.div(251, 375) * 100%); // math.div(縦,横)

    @include mq("md") {
        padding-top: calc(math.div(427, 799) * 100%); // math.div(縦,横)

    }
}

.p-works-intro__thumbs-image::before {
    padding-top: calc(math.div(163, 163) * 100%); // math.div(縦,横)

    @include mq("md") {
        padding-top: calc(math.div(93, 93) * 100%); // math.div(縦,横)

    }
}

.p-works-intro__image img,
.p-works-intro__thumbs-image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.p-works-intro__thumbs-images {
    overflow-x: hidden;
    // max-width: rem(163);
}

.p-works-intro__thumbs-image {
    width: rem(163);
    height: rem(163);
    margin: 0 rem(6);
    opacity: 0.4;
    transition: all .4s;

    @include mq("md") {
        width: rem(93);
        height: rem(93);
        margin: 0 rem(5);
    }
}

.p-works-intro__thumbs-image.swiper-slide-active {
    opacity: 1;

}

.p-works-intro__images .swiper-button-next,
.p-works-intro__images .swiper-button-prev {
    width: rem(35);
    height: rem(35);
}

.p-works-intro__images .swiper-button-next::before,
.p-works-intro__images .swiper-button-prev::before {

    content: "";
    width: rem(35);
    height: rem(35);
    background-color: $black;
    opacity: 0.45;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    transform: translateY(-50%);
}

.p-works-intro__images .swiper-button-next::after,
.p-works-intro__images .swiper-button-prev::after {

    content: "";
    width: rem(15);
    height: rem(15);

    position: absolute;
    top: 50%;

}

.p-works-intro__images .swiper-button-next::after {
    border-top: solid 2px $white;
    border-right: solid 2px $white;
    transform: translateY(-50%) translateX(-50%) rotate(45deg);
    right: rem(5);
}

.p-works-intro__images .swiper-button-prev::after {
    border-top: solid 2px $white;
    border-left: solid 2px $white;
    transform: translateY(-50%) translateX(50%) rotate(-45deg);
    left: rem(5);
}

.c-info {
    display: flex;
    gap: rem(32);
    align-items: flex-start;

    @include mq("md") {
        gap: rem(48);
    }
}

.c-info__time {
    color: $white;
    font-size: rem(16);
    font-weight: $regular;
    line-height: 1.4375;
    margin-top: rem(4);

}

.c-info__category {
    display: inline-block;
    color: $white;
    text-align: center;
    font-size: rem(14);
    font-weight: $regular;
    line-height: 1;
    padding: rem(8) rem(21) rem(7);
    border: 1px solid $white;
    min-height: rem(31);

    @include mq("md") {
        padding: rem(8) 0 rem(7);
        font-weight: $medium;
        width: rem(99);
    }
}

// .swiper {
//     width: 100%;
//     height: 300px;
//     margin-left: auto;
//     margin-right: auto;
// }

// .swiper-slide {
//     background-size: cover;
//     background-position: center;
// }

// .p-works-intro__thumb {
//     height: 80%;
//     width: 100%;
// }

// .js-works-single-thumb-swiper {
//     height: 20%;
//     box-sizing: border-box;
//     padding: 10px 0;
// }

// .p-works-intro__thumbs-image {
//     width: 25%;
//     height: 100%;
//     opacity: 0.4;
// }

// .js-works-single-thumb-swiper .swiper-slide-thumb-active {
//     opacity: 1;
// }

// .swiper-slide img {
//     display: block;
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
// }






// .swiper-slide {
//     text-align: center;
//     font-size: 18px;
//     background: #fff;
//     height: 200px;

//     /* Center slide text vertically */
//     display: -webkit-box;
//     display: -ms-flexbox;
//     display: -webkit-flex;
//     display: flex;
//     -webkit-box-pack: center;
//     -ms-flex-pack: center;
//     -webkit-justify-content: center;
//     justify-content: center;
//     -webkit-box-align: center;
//     -ms-flex-align: center;
//     -webkit-align-items: center;
//     align-items: center;
//   }

//   .swiper-slide img {
//     display: block;
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
//   }

//   .swiper {
//     margin-left: auto;
//     margin-right: auto;
//   }